<!-- home.html -->

{% extends "base.html" %}
{% block title %}
Home 
{% endblock %}
{% block content %}

   

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title mt-30 mb-30">
                    <h2>Latest Jobs</h2>
                </div>
            </div>
            <!-- end col -->
            
            {% for job in page_obj %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="card-style-3 mb-30">
                    <div class="card-content">
                        <h4><a href="{% url 'src:job_view' job.id %}"> {{job.title}} </a></h4>
                        <p>
                            {{job.description|safe|truncatewords:"50"}}
                        </p>
                        <a href="{% url 'src:job_view' job.id %}" class="read-more">Read More</a> <br>
                        <small>{{job.created_at}}</small> 
                    </div>
                </div>
            </div>
            <!-- end col -->
            {% endfor %}
           
        </div>
       
        <!-- Pagination links -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
       
{% endblock %}
